* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* dùng chung */
button,select{
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  text-align: center;
  min-width: 205px;
  line-height: 60px;
  border-radius: 999px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}

.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #575f66;
}

.control__btn:hover {
  background-color: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}

.control__icon--next {
  rotate: 180deg;
}

/* code phan header */
.header {
  background-color: #10375c;
  min-height: 100vh;
  padding-top: 30px;
}

.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__link,
.header__action--login {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.navbar__link--active,
.navbar__link:hover {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  top: -2px;
  right: 11px;
}

.header__action--sign-up {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}

.header__action--login {
  margin-right: 7px;
}

/* code phần hero */
.hero {
  display: flex;
  padding-top: 80px;
  padding-bottom: 110px;
}

.hero__info {
  width: 44%;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.15; /* 114.286% */
  letter-spacing: -1.4px;
  margin-top: 60px;
}

.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 22px;
}

.hero__cta {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}

.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.hero__media {
  flex: 1;
}

.hero__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  object-fit: cover;
  border-radius: 6px;
}

.hero__img--large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
}

/* code phần service */
.main {
  margin-top: 100px;
}

.service {
  padding-bottom: 159px;
}

.service__heading {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.service__desc {
  width: 468px;
  color: #575f66;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin: 0 auto;
  text-align: center;
  margin-top: 18px;
}

.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__img {
  width: 570px;
  border-radius: 12px;
}

.service__item {
  display: flex;
  width: 470px;
  border-radius: 10px;
  background-color: #fff;
  padding: 21px;
}

.service__item:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service__item:hover .service-item__icon {
  background-color: #2e80ce;
  color: #fff;
}

.service-item__icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 19px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
}

.service-item__body {
}

.service-item__heading {
  color: #10375c;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px; /* 175% */
  margin-top: 8px;
}

.service__btn {
  margin-top: 55px;
}

/* code phần work */
.work {
  padding: 100px 0;
  background: #f6fbff;
}

.work__heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.work__desc {
  width: 468px;
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}

.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 70px;
}

.work__item {
  padding: 42px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}

.work__item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.work-item__more {
  display: inline-block;
  margin-top: 18px;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

/* code phần about */
.about {
  padding: 170px 0 291px;
}

.about__row {
  display: flex;
  justify-content: space-between;
}

.about__media {
  width: 49%;
}

.about__info {
  width: 40%;
}

.about__img {
  display: flex;
  position: relative;
}

.img__about--large {
  object-fit: cover;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.img__about--small {
  position: absolute;
  top: 121px;
  left: 238px;
  object-fit: cover;
  width: 332px;
  height: 370px;
  border-radius: 6px;
}

.about__heading {
  margin-top: 82px;
}

.about__desc {
  margin-top: 18px;
}

.about__btn {
  margin-top: 38px;
}

/* code phần team */
.team {
  padding-bottom: 170px;
}

.team__top {
  text-align: center;
  margin: 0 auto;
}

.team__btn {
  margin-top: 38px;
}

.team__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.team-item__thumb {
  border-radius: 6px;
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.team-item__img-bg {
  padding-top: 28px;
  background-color: #2e80ce;
}

.team-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.team-item__desc {
  color: #575f66;
  text-align: center;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px; /* 185.714% */
}

.team__control {
  margin-top: 38px;
  display: flex;
  gap: 18px;
  justify-content: center;
}

/* code phần install */
.install {
  padding-bottom: 170px;
}

.install__inner {
  border-radius: 4px;
  background: #2e80ce;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  height: 427px;
  position: relative;
}

.install-right {
  width: 586px;
}

.install__img {
  position: absolute;
  bottom: 0;
  width: 284px;
  height: 522px;
}

.install__heading {
  color: #fff;
  width: 489px;
}

.install__desc {
  color: #fff;
  margin-top: 18px;
}

.install__app {
  margin-top: 38px;
}

/* code phần blog */
.blog{
  padding-bottom: 170px;
}

.blog-inner {
  display: flex;
  justify-content: space-between;
}

.blog__content {
  width: 40%;
}

.blog__heading {
  margin-top: 68px;
  width: 470px;
}

.blog__read {
  margin-top: 28px;
  display: inline-block;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
}

.blog__control {
  display: flex;
  justify-content: flex-start;
  margin-top: 28px;
}

.blog__wrap {
  width: 48%;
  display: flex;
  gap: 30px;
}

.blog__thumb {
  object-fit: cover;
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
}

.blog__item{
  border-radius: 12px;
background: #FFF;
box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.blog__body {
  padding: 18px 24px 21px 22px;
}

.blog-body__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
}

.blog-body__desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
}

.blog-body__more {
  margin-top: 12px;
  display: inline-block;
  color: #2e80ce;
  font-size: 1.4rem 
  font-weight: 400;
  line-height: normal;
}

.blog-body__more:hover{
  color: #10375C;
}

/* code phần apoinment */
.apm{
  padding-bottom: 170px;
}

.apm-container{
  background-color:#F6FBFF;
  padding: 100px 179px;
  text-align: center;
}

.apm__heading{
  padding-bottom: 38px;
}

.apm__heading::after{
  content: "";
  display: block;
  width: 136px;
height: 2px;
background: #2E80CE;
margin: 18px auto 0;
}

.apm__desc{
  width: 617px;
  margin: 0 auto;
}

.apm__btn{
  margin-top: 53px;
  display: inline-block;
}

/* code phần footer */
.footer{
  background: #10375C;
  padding-top: 100px;
  font-family: "Open Sans", sans-serif;
}

.footer__top{
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  grid-auto-flow: column;
  column-gap: 78px;
}

.footer__desc{
  margin-top: 20px;
  color: #A9B3BB;
font-size: 1.6rem;
font-weight: 400;
line-height: 1.75; /* 175% */
}

.footer__heading{
  color: #FFF;
font-size: 1.6rem;
font-weight: 600;
line-height: 28px; /* 175% */
}

.footer__list{
  margin: 20px 0 28px;
}

.footer__link{
  color: #A9B3BB;
font-size: 1.4rem;
font-weight: 400;
line-height: 1.85; /* 185.714% */
white-space: nowrap;
}

.footer__link:hover{
  text-decoration: underline;
}

.footer__item{
  margin-bottom: 10px;
}

.footer__social{
  display: flex;
  column-gap: 10px;
  margin-top: 20px;
  margin-bottom: 28px;       
}

.footer-social__icon{
  width: 32px;
height: 32px;
border-radius: 50%;
background: #2E80CE;
display: flex;
justify-content: center;
align-items: center;
background-color: #fff;
color: #2E80CE;
}

.footer-social__icon:hover{
  background: #2E80CE;
  color: #FFF;
}

.footer-desc__c4{
  color: #A9B3BB;
font-size: 1.4rem;
font-weight: 400;
line-height: 26px; /* 185.714% */
}

.footer__form{
  margin-top: 10px;
  display: flex;
  column-gap: 12px;
}

.footer-form__input{
  width: 212px;
height: 46px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #406181;
background: #10375C;
outline: none;
color: #fff;
}

.footer-form__input::placeholder{
  color: #9CA8B1;
font-size: 1.4rem;
font-weight: 400;
line-height: 1.85; /* 185.714% */
}

.footer-form__btn{
  width: 108px;
height: 46px;
border-radius: 4px;
background: #2E80CE;
color: #FFF;
font-size: 1.4rem;
font-weight: 600;
line-height: 1.85; /* 185.714% */
border: none;
}

.footer__copyright{
  border-top: 1px solid #406181;;
}

.footer-coppyright__text{
  padding: 28px 0 42px;
  color: #AAB3BA;
text-align: center;
font-size: 1.4rem;
font-weight: 400;
line-height: 26px; /* 185.714% */
}