* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* dùng chung */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  text-align: center;
  min-width: 205px;
  line-height: 60px;
  border-radius: 999px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
}

.btn:hover {
  opacity: 0.9;
}

/* code phan header */
.header {
  background-color: #10375c;
  min-height: 100vh;
  padding-top: 30px;
}

.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__link,
.header__action--login {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.navbar__link--active,
.navbar__link:hover {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  top: -2px;
  right: 11px;
}

.header__action--sign-up {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}

.header__action--login {
  margin-right: 7px;
}

/* code phần hero */
.hero {
  display: flex;
  padding-top: 80px;
  padding-bottom: 110px;
}

.hero__info {
  width: 44%;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.15; /* 114.286% */
  letter-spacing: -1.4px;
  margin-top: 60px;
}

.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 22px;
}

.hero__cta {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}

.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.hero__media {
  flex: 1;
}

.hero__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  object-fit: cover;
  border-radius: 6px;
}

.hero__img--large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
}

/* code phần service */
.main {
  margin-top: 100px;
}

.service {
  padding-bottom: 159px;
}

.service__heading {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.service__desc {
  width: 468px;
  color: #575f66;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin: 0 auto;
  text-align: center;
  margin-top: 18px;
}

.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__img {
  width: 570px;
  border-radius: 12px;
}

.service__item {
  display: flex;
  width: 470px;
  border-radius: 10px;
  background-color: #fff;
  padding: 21px;
}

.service__item:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service__item:hover .service-item__icon {
  background-color: #2e80ce;
  color: #fff;
}

.service-item__icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 19px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
}

.service-item__body {
}

.service-item__heading {
  color: #10375c;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px; /* 175% */
  margin-top: 8px;
}

.service__btn {
  margin-top: 55px;
}
